{% extends "base.html" %}
{% block content %}
<script>

</script>
<ul>
    <h3>Stream Networks</h3>
    <li><a href="{{ url_for('train_stream') }}">Start A New Stream Training</a></li>
    <li><a href="{{ url_for('resume_stream') }}">Resume Stream Training</a></li>
    <li><a href="{{ url_for('test_stream') }}">Evaluate Stream Network</a></li>
    <li><a href="{{ url_for('inspect_stream') }}">Inspect Stream Network Output File</a></li>
    <!--
    <h3>Conventional Fusion</h3>
    <li><a href="">Averaging/SVM Fusion</a></li>
    <h3>Experimental Fusion</h3>
    <li><a href="">Weighted Fusion/Reliability Network</a></li>
    <li><a href="">Evaluate Stream Network</a></li>
    <li><a href="">Check Stream Network Output File</a></li>
    -->
</ul>

<h2>System Info</h2>
<ul>
    <li><b>CUDA Support:</b> {{ device_info.cuda_support }} </li>
    <li><b>GPU Count:</b> {{ device_info.gpu_count }} </li>
    <li><b>GPU Name:</b>
        <ul>
        {%for i in range(device_info.gpu_count)%}
            <li><b>cuda:{{i}} -> </b>{{device_info.gpu_names[i]}}</li>
        {%endfor%}
        </ul>
    </li>
</ul>
{% endblock %}