{% extends "base.html" %}
{% block content %}

<style>
	ul {
		text-align: center;
		list-style: none;
	}
	
	a {
		margin: 10px;
		width: 60%;
	}

	a:link, a:visited {
	  background-color: rgb(156, 86, 61);
	  color: white;
	  padding: 14px 25px;
	  text-align: left; 
	  text-decoration: none;
	  display: inline-block;
	}

	a:hover, a:active {
	  background-color: rgb(74, 71, 66);
	}

</style>

<ul>
    <li><a href="{{ url_for('train_stream') }}">
		<span style="font-size: 20px">Stream Training</span>
		<span style="font-size:14px"><br><br>Creates and resumes trainer for classification models</span>
	</a></li>
    <li><a href="{{ url_for('test_stream') }}">
		<span style="font-size: 20px">Stream Evaluation</span>
		<span style="font-size:14px"><br><br>Evaluates classification models on testing set</span>
	</a></li>
    <li><a href="{{ url_for('inspect_stream') }}">
		<span style="font-size: 20px">Stream Benchmarking</span>
		<span style="font-size:14px"><br><br>Compares performance between classification models</span>
	</a></li>
	<li><a href="{{ url_for('visualize_stream') }}">
		<span style="font-size: 20px">Stream Visualization</span>
		<span style="font-size:14px"><br><br>Visualizes models performing inference on a certain action</span>
	</a></li>
</ul>
<!--
<h3>Conventional Fusion</h3>
<li><a href="">Averaging/SVM Fusion</a></li>
<h3>Experimental Fusion</h3>
<li><a href="">Weighted Fusion/Reliability Network</a></li>
<li><a href="">Evaluate Stream Network</a></li>
<li><a href="">Check Stream Network Output File</a></li>
-->

<!-- <h2>System Info</h2>
<ul>
    <li><b>CUDA Support:</b> {{ device_info.cuda_support }} </li>
    <li><b>GPU Count:</b> {{ device_info.gpu_count }} </li>
    <li><b>GPU Name:</b>
        <ul>
        {%for i in range(device_info.gpu_count)%}
            <li><b>cuda:{{i}} -> </b>{{device_info.gpu_names[i]}}</li>
        {%endfor%}
        </ul>
    </li>
</ul> -->
{% endblock %}