{% extends "base.html" %}
{% block content %}

<script>
	$(document).ready(function() {
		update_compare();
		$("#{{form.main_model.id}}").change(function() {
			update_compare();
		});
	});
	
	function update_compare() {
		var main_model = $("#{{form.main_model.id}}").val();
		if(main_model === "") {
			$("#{{form.model_compare.id}}").prop("disabled", true).val([]);
			$("#model_info").hide();
		} else {
			$("#model_info").show();
			$("#model_dataset").html(main_model.split("\\")[2]);
			$("#model_split").html(main_model.split("\\")[3]);
			$.ajax({
				url: '/inspect_stream',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({base_model: main_model}),
				success: function(response) {
					$("#{{form.model_compare.id}}").html(response.html).prop("disabled", false);
				}
			});
		}
	}
</script>

<style>
    
    form {
        width: 1050px;
        background-color: lightgray;
        margin: auto;
        text-align: center;
    }
	
	fieldset fieldset {
		background: rgb(200,200,200);
	}
	
	form > fieldset:nth-child(odd) {
		background: rgb(220,220,220);
	}
	
	form > fieldset:nth-child(even) {
		background: rgb(180,180,180);
	}
	
	.hint {
		font-size: 14px;
		background: rgb(255, 244, 161);
		display: block;
		padding: 10px;
		width: 80%;
		margin: auto;
	}
	
</style>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
	<fieldset>
        <legend>Choose Models</legend>
		
		<p class="hint">
			Select a benchmarking model as a standard model, compare with its peer models and observe
			the performance difference between the benchmarking model and the others.
		</p>
		
		<p>
            {{form.main_model.label}}<span style="color:red">*</span><br>
            {{form.main_model}}<br>
            {%for error in form.main_model.errors%}
            <span style="color: red;">[{{error}}]</span><br>
            {%endfor%}
        </p>
		
		<div id="model_info">
			<p>
				<label>Model Dataset</label><br>
				<b id="model_dataset">nil</b>
			</p>
			<p>
				<label>Dataset Split</label><br>
				<b id="model_split">nil</b>
			</p>
		</div>
		
		 <p>
            {{form.model_compare.label}}<br>
            {{form.model_compare}}<br>
            {%for error in form.model_compare.errors%}
            <span style="color: red;">[{{error}}]</span><br>
            {%endfor%}
        </p>
	</fieldset>
	<p>{{form.submit}}</p>
</form>

{% endblock %}