{% extends "base.html" %}
{% block content %}
<script>

</script>
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>
        {{form.modality.label}}<br>
        {{form.modality}}
    </p>
    <p>
        {{form.dataset.label}}<br>
        {{form.dataset}}<br>
    </p>
    <p>
        {{form.base_lr.label}}<br>
        {{form.base_lr(size=10)}}<br>
        {%for error in form.base_lr.errors%}
        <span style="color: red;">[{{error}}]</span><br>
        {%endfor%}
    </p>
    <p>
        {{form.network.label}}<br>
        {{form.network}}<br>
    </p>
    <p>{{form.submit}}</p>
</form>
{% endblock %}