{% extends "base.html" %}
{% block content %}

<script>
	var preview_count = 0;
	var anim_count = 0;
	
	$(document).ready(function() {
		if("{{ready}}" === "True") {
			//show images
			preview_count = 0;
			$("#input_preview .default_text").hide();
			$("#input_preview img").show();
			$("#init_vis").prop("disabled", false);
			preview_interval = setInterval(anim_preview, 500);
			
		} else {
			$("#input_preview .default_text").show();
			$("#input_preview img").hide();
			$("#init_vis").prop("disabled", true);
		}
		
		$("#init_vis").click(function() {
			$("#init_vis").prop("disabled", true);
			$("form *").prop("disabled", true);
			$("#vis_content .default_text").html("Running...");
			$.ajax({
				url: '/visualize_panel',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({update: true}),
				success: function(response) {
					if(response) {
						$("#input_preview, #input_preview_title").hide();
						$("form *").prop("disabled", false);
						result_interval = setInterval(anim_result, 500);
					}
				}
			});
		});
	});
	
	function anim_preview() {
		if (anim_count == {{clip_len}}) {
			anim_count = 0;
		}
		$("#input_preview img").attr("src", "static/vis/preview/"+anim_count+".jpg");
		anim_count = anim_count + 1;
	}
	
	function anim_result() {
		if (preview_count == {{clip_len}}) {
			preview_count = 0;
		}
		$("#vis_content img").attr("src", "static/vis/result/"+preview_count+".jpg");
		preview_count = preview_count + 1;
	}
</script>

<style>
	
	#outer {
        width: 1050px;
        background-color: lightgray;
        margin: auto;
    }

    .title {
        text-align: center;
        font-weight: bold;
        background: white;
        border: 1px black solid;
        padding: 5px;
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
	
	#panel_detail {
		width: 40%;
		float: left;
	}
	
	#panel_form {
		width: 40%;
		display: inline-block;
	}
	
	.default_text {
        color: red;
        text-align: center;
    }
</style>

<div id="outer">
	<p class="title">Control Panel</p>
	<div class="content" id="panel">
		<div id="panel_detail">
			<p>Dataset<br><b>{{args['dataset']}}</b></p>
			<p>Split<br><b>Split {{args['split']}}</b></p>
			<p>Modality<br><b>{{args['modality']}}</b></p>
			<p>Network<br><b>{{args['network']}}</b></p>
		</div>
		<form action="" method="POST" novalidate>
			{{form.hidden_tag()}}
			<div id="panel_form">
			<p>
				{{form.clip_name.label}}<span style="color:red">*</span><br>
				{{form.clip_name}} <br>
				{%for error in form.clip_name.errors%}
				<span style="color: red;">[{{error}}]</span><br>
				{%endfor%}
			</p>
			<p>
				{{form.clip_len.label}}<span style="color:red">*</span><br>
				{{form.clip_len}} <br>
				{%for error in form.clip_len.errors%}
				<span style="color: red;">[{{error}}]</span><br>
				{%endfor%}
			</p>
			<p>
				{{form.target_class.label}}<span style="color:red">*</span><br>
				{{form.target_class}} <br>
				{%for error in form.target_class.errors%}
				<span style="color: red;">[{{error}}]</span><br>
				{%endfor%}
			</p>
			<p>
				{{form.vis_layer.label}}<span style="color:red">*</span><br>
				{{form.vis_layer}} <br>
				{%for error in form.vis_layer.errors%}
				<span style="color: red;">[{{error}}]</span><br>
				{%endfor%}
			</p>
			</div>
	<p>
		{{form.submit}}
	</p>
	</form>
	</div>
	<p class="title" id="input_preview_title">Input Preview</p>
	<div class="content" id="input_preview">
		<p class="default_text">Complete the section above first</p>
		<img />
		<p>
		<button id="init_vis">Visualize</button>
		</p>
	</div>
	<p class="title">Visualization</p>
	<div class="content" id="vis_content">
		<img />
		<p class="default_text">Run visualization at the section above upon confirmation</p>
	</div>
</div>

{% endblock %}